{{ template "base.html" }}
{{ define "content" }}
<p>
  Willkommen im Backspace! Wir bieten unseren Mitglieder eine Infrastruktur
  mit verschiedenen Diensten. Dazu gehört unter anderem eine eigene
  E-Mailadresse, ein Wiki und der <strong>Türzugang</strong>!
</p>

<p>
  <strong>Wichtig:</strong> Nachdem du dieses Formular abgeschickt hast,
  erhälst du von uns eine E-Mail mit einem Link, der dir ermöglicht deinen
  Account zu aktivieren.
</p>
<p>
  Zusätzlich bekommst du auch eine E-Mail mit allen Diensten und Servereinstellungen,
  die wir dir zur Verfügung stellen.
</p>

<hr>

<form action="" method="POST">
  <div class="form-group row mb-5">
    <label class="col-sm-4 col-form-label" for="password">Passwort</label>
    <div class="col-sm-8">
      <input class="form-control{{ if eq .Form.Error "password" }} is-invalid{{ end }}"
	     id="password" name="password" type="password" autocomplete="off"
	     placeholder="Passwort..." value="{{ .Form.Password }}">
      <input class="form-control{{ if eq .Form.Error "password" }} is-invalid{{ end }}"
	     id="password2" name="password2" type="password" autocomplete="off"
	     placeholder="Passwort wiederholen..." value="{{ .Form.Password2 }}">
    </div>
    <div class="col-sm-12">
      <small id="passwordHelpBock" class="form-text text-muted">
	Dieses Passwort wird für interne Dienste benutzt. Beispielsweise WLAN, Pad,
	Wiki oder Inventarsystem. Bitte achte darauf, ein <strong>sicheres</strong>
	Passwort zu verwenden, das du für keinen anderen Dienst verwendest.
      </small>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-sm-4 col-form-label" for="doorpass">Türsystem Passwort</label>
    <div class="col-sm-8">
      <input class="form-control{{ if eq .Form.Error "doorpass" }} is-invalid{{ end }}"
	     id="doorpass" name="doorpass" type="password" autocomplete="off"
	     placeholder="Türsystem Passwort..." value="{{ .Form.Doorpass }}">
      <input class="form-control{{ if eq .Form.Error "doorpass" }} is-invalid{{ end }}"
	     id="doorpass2" name="doorpass2" type="password" autocomplete="off"
	     placeholder="Türsystem Passwort wiederholen..." value="{{ .Form.Doorpass2 }}">
    </div>
    <div class="col-sm-12">
      <small id="doorpassHelpBock" class="form-text text-muted">
        Hier kannst du das Passwort für unser Türsystem festlegen. Natürlich kannst
	du auch das Passwort, das du oben angegeben hast, verwenden. Es ist ratsam,
	ein Passwort zu wählen, das du dir gut merken kannst. Es gibt nichts
	Passwort erinnern zu können.
      </small>
      <small id="doorpassHelpBock2" class="form-text text-muted">
        Achte hier besonders darauf, dass das Passwort sicher ist und falls es dir
	abhanden kommt <strong>sofort</strong> Bescheid zu geben. Im Hackerspace
	stehen zum Teil teure und vorallem auch private Geräte von Mitgliedern, die
      </small>
    </div>
    <div class="col-sm-12">
      <small class="mb-1 mt-2 p-2 form-text bg-warning">
        <strong>
          Bitte beachte, dass wir neuen Mitgliedern erst nach einiger Zeit einen
          selbstständigen Zugang zum Backspace gewähren. Die Zeit bis dahin ist
          nicht festgelegt, sondern hängt davon ab, wie intensiv du dich am
          Geschehen beteiligst.
        </strong>
      </small>
    </div>
  </div>

  <hr>
  
  <button type="submit" class="btn btn-primary btn-lg btn-block">
    Setzen
  </button>
</form>
{{ end }}
